@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.bodyveille {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../img/main.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    backdrop-filter: blur(3px);
   
}

main h1 {
    
    color: white;
    padding: 30px 0;
    text-align: center;
    font-size: 24px;
}

.articles {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 20px;
    padding: 0px 0px 0px 92px;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 80%;
    margin-top: 30px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.card h3 {
    margin: 0;
    color: #333;
    font-size: 20px;
}

.card p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}

.card a {
    display: inline-block;
    margin-top: 15px;
    
    text-decoration: none;
    font-weight: bold;

    background: -webkit-linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; /* Pour les navigateurs non-WebKit si background-clip est supporté */
    display: inline-block;
}

@media (max-width: 600px) {
    .articles {
        grid-template-columns: 1fr;
    }
}

.veille-technologique {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    text-align: center;
    margin: 20px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgb(255 73 249 / 100%);
    border-radius: 8px;
    height: auto; /* Set height to auto to accommodate content */
    border-radius: 20px;
    padding: 20px;
    filter: drop-shadow(0 0 0.75rem #24004b);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 30px auto; /* Center horizontally */
    backdrop-filter: blur(8px);
    width: 90%; /* Use percentage to be responsive */
    max-width: 900px; /* Max-width to ensure it does not stretch too wide on larger screens */
}

/* Adjustments when the screen size is smaller */
@media (max-width: 900px) {
    .veille-technologique {
        width: 95%; /* Increase width percentage on smaller screens for better use of space */
        margin: 30px auto; /* Adjust margin to keep it centered */
        padding: 20px; /* Maintain padding */
    }
}

@media (max-width: 600px) {
    .veille-technologique {
        width: 100%; /* Make the width 100% on very small screens */
        margin-top: 30px; /* Adjust top margin */
        margin-bottom: 30px; /* Adjust bottom margin */
        padding: 15px; /* Adjust padding */
    }
}


.veille-technologique h2, .veille-technologique h3 {
    font-weight: 700; 
    margin-bottom: 10px; 
    font-family: "Roboto", sans-serif;
}

.veille-technologique p, .veille-technologique ul {
    font-weight: 400; /* Texte normal pour le contenu */
    line-height: 1.6; /* Espacement entre les lignes */
    font-family: "Roboto", sans-serif;
}

.veille-technologique ul {
    padding-left: 20px; /* Indentation pour les listes */
    font-family: "Roboto", sans-serif;
}

.veille-technologique li {
    margin-bottom: 5px; /* Espacement entre les éléments de la liste */
    font-family: "Roboto", sans-serif;
}

/* Ajustements responsifs pour la veille technologique */
@media (max-width: 900px) {
    .veille-technologique {
        margin: 20px 10px; /* Ajustement des marges pour les écrans plus petits */
    }
}
.section-header {
    position: relative;
    margin-bottom: -45px;
    margin-top: 50px;
    margin-left: auto; /* Center the section header */
    margin-right: auto; /* Center the section header */
    color: white;
    font-size: 25px;
    max-width: 900px; /* Set a max-width for large screens */
    width: 90%; /* Set width to a percentage of the screen size */
    text-align: center; /* Center align the text */
}

/* Adjustments for smaller screens using media queries */
@media (max-width: 900px) {
    .section-header {
        margin-left: 20px; /* Add some margin on smaller screens */
        margin-right: 20px; /* Add some margin on smaller screens */
        width: auto; /* Let the header take the necessary width */
    }
}

@media (max-width: 600px) {
    .section-header {
        margin-top: 30px; /* Adjust the top margin for very small screens */
        font-size: 20px; /* Decrease the font size for better readability */
    }
}


.section-header p {
    display: inline-block;
    margin: 0 120px;
    margin-bottom: 80px;
    margin-top:-65px;
    padding-left: 15px;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #ffffff;
}

.section-header p::before {
    position: absolute;
    content: "";
    height: 3px;
    top: 11px;
    right: 0;
    left: -30px;
   
    background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    
    z-index: -1;
}

.section-header p::after {
    position: absolute;
    content: "";
    width: 3px;
    height: 3px;
    top: 11px;
    left: 3px;
    background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    z-index: 1;
}
@media (max-width: 768px) {
    .section-header p {
        margin: 0 10px; /* Réduction de la marge pour les petits écrans */
        margin-bottom: 50px; /* Ajustement de la marge inférieure */
        margin-top: 0; /* Suppression de la marge négative */
        padding-left: 10px; /* Ajustement du padding */
        font-size: 14px; /* Réduction de la taille de la police */
    }

    .section-header p::before, .section-header p::after {
        display: none; /* Optionnel: masquer les traits sur les petits écrans */
    }
}

@media (max-width: 480px) {
    .section-header p {
        margin: 0 5px; /* Marge réduite encore plus pour les très petits écrans */
        padding-left: 5px; /* Padding réduit */
        font-size: 12px; /* Taille de la police encore plus petite */
    }
}


.section-header h2 {
    font-weight: bold;
    margin: 0;
    position: relative;
    font-size: 25px;
    font-weight: 700;
}

@media (max-width: 767.98px) {
    .section-header h2 {
        font-size: 30px;
    }
}
@media (max-width: 767.98px) {
    .section-header h2 {
        font-size: 30px; /* Increase font size for smaller screens */
    }

    .section-header {
        margin-left: 0; /* Reset left margin for smaller screens */
        text-align: center; /* Center align on smaller screens */
    }

    .section-header p {
        margin: 10px auto; /* Center block on smaller screens */
        position: static; /* Disable absolute positioning on smaller screens */
    }
}

/* Responsive adjustments for veille technologique section */
@media (max-width: 900px) {
    .veille-technologique {
        margin: 0px; /* Adjust margins for smaller screens */
    }
}

.visualiser {
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    text-decoration: none; /* Enlève le soulignement du texte */
    cursor: pointer; /* Change le curseur pour indiquer la possibilité de cliquer */
    background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%); /* Arrière-plan en dégradé */
    border: none; /* Supprime la bordure */
    color: white; /* Texte en blanc */
    padding: 0.81rem 2rem; /* Ajuste le padding pour espacer le texte */
    display: inline-block; /* Permet au lien de se comporter comme un bloc inline pour l'espacement */
    font-size: 15px; /* Taille de la police */
    border-radius: 50px; /* Arrondit les coins */
    transition: transform 0.2s, box-shadow 0.2s; /* Animation pour les transformations et l'ombre */
    text-transform: uppercase; /* Transforme le texte en majuscules */
    font-weight: 600; /* Poids de la police */
    text-align: center; /* Alignement du texte */
    margin-top: 35px;
}

.visualiser:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5); /* Ombre plus prononcée au survol pour un effet de profondeur */
    transform: scale(1.05); /* Agrandit légèrement l'élément au survol pour une interaction visuelle */
}


body #BackgroundBlock {
    flex: 2 1 auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7vh;
    margin-bottom: 7vh;
    padding: 5vh 7vh 5vh 10vh;
    width: 70%;
    border-radius: 45px;
    background-color: rgba(145, 89, 204, 0.77);
}

body .textshadow {
    text-shadow: 1px 1px 2px #c56b4b, 0 0 2em #619284, 0 0 1em #619284;
}

body .title {
    padding-bottom: 3vh;
    font-size: 4.5vh;
    text-align: center;
}

body .themeblock {
    display: flex;
    justify-content: center;
}


body .linkblock {
    width: 20vw;
    padding: 2.5vw;
    margin: 0 3vw 7vh 0;
}
body .linkblock:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5); /* Ombre plus prononcée au survol pour un effet de profondeur */
    transform: scale(1.05);
    border-radius: 38px;
}

body .linkblock img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    width: 90%;
    object-fit: contain;
    border-radius: 2vw;
}
body .sourcename {
    color: black;
    font-size: 1.5vw;
    text-justify: inter-character;
}

body .sourcename span {
    font-weight: 500;
    text-shadow: 1px 1px 2px #c56b4b, 0 0 2em #c56b4b, 0 0 1em #c56b4b;
}
a {
    text-decoration: none;
}

/* Adjustments for medium screens */
@media (max-width: 1200px) and (min-width: 901px) {
    .veille-technologique {
        width: 95%;
        padding: 20px; /* Ajuste le padding pour un meilleur usage de l'espace */
    }

    .section-header {
        margin: 0 auto; /* Ajuste la marge pour un meilleur centrage */
        padding: 15px;
    }

    .articles {
        grid-template-columns: repeat(2, 1fr); /* Change to 2 columns for medium screens */
    }
}



@media (max-width: 767.98px) {
    .section-header h2 {
        font-size: 30px;
    }
}


body .textshadow {
    font-size: 4.5vh; /* taille initiale adaptée aux écrans plus grands */
}

@media (max-width: 1200px) {
    body .textshadow{
        font-size: 3.5vh; /* légèrement plus petit pour les écrans intermédiaires */
    }
}

@media (max-width: 768px) {
    body .textshadow{
        font-size: 3vh; /* encore plus petit pour les tablettes */
    }
}

@media (max-width: 600px) {
    body .textshadow{
        font-size: 2.5vh; /* adapté aux mobiles */
    }
}